# Node.js dependencies
node_modules/

# Dist folder (for compiled files)
dist/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files (optional, for Windows or macOS)
.DS_Store
Thumbs.db

# npm debug file
npm-debug.log*

# Others (optional)
.idea/
.vscode/
